/* Main */
body {
	background: white;
	font-size: 12px;
	color: #717073;
}
:focus {
	outline: none !important;
}
a	{
	color: #717073;
	text-decoration: none;
}
#body a {
	border-bottom : 1px solid #d1d0d3;
	padding-bottom : 1px;
}
a:hover {
	color: #d2232a;
}
#body a:hover {
	border-bottom : 1px solid #e2434a;
}

/* Columns */
.col {
	float: left;
}

body.front .col,
body.page-taxonomy-term .col {
  cursor : pointer;
}
.left { float: left;}
.right { float: right;}
.col_01 { width: 240px; }
.col_02 { width: 480px; }
.col_03 { width: 720px; }
.col_04 { width: 960px; }

.clearfix:after {
   display:block; 
   content:"."; 
   clear:both; 
   font-size:0; 
   line-height:0; 
   height:0; 
   overflow:hidden; 
}

/* Navigation */

#nice-menu-1 li {
    border-top: 0px !important;
    background-color: #ffffff !important;
    border-bottom: 0px;
    border-right: 0px;
}
#nice-menu-1 li a {
    padding: 0px;
    color: #717073;
    text-transform: lowercase;
}

.nav {}
.nav ul {
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style: none;
}
.nav ul li {
	float: left;
	padding: 0;
	margin: 0;
	padding-left: 4px;
	border-left: 1px solid #717073;
	margin-left: 4px;
	line-height: 14px;
}
.nav ul li a { text-transform: lowercase;}
.nav ul li:first-child {
	padding-left: 0;
	border-left: 0;
	margin-left: 0;
}
.nav ul li:first-child a {}

/* Header */
#header {
	position: relative;
	min-height: 60px;
	padding: 10px 0;
	border-bottom: 1px solid #717073;
	margin-bottom: 10px;
}
#header .title {
	/*padding: 30px 0 0 9px;*/
    padding: 0px 0 0 9px;
	border-left: 1px solid #e6e7e8;
	text-transform : lowercase;
}

.title {}
.title h1 {
	position: absolute;
	text-indent: -9999px;
	display : none;
}
.title .num {
	margin-bottom: 0;
	line-height: 40px;
	font-weight: bold;
	font-size: 34px;
	color: #e6e7e8;
}
.title h2 {
	line-height: 19px;
	margin: 0;
	font-weight: normal;
	font-size: 16px;
	color: #717073;
}

.title a:hover .num, .title a:hover h2 {
	color: #d2232a;
}

#header .nav {
	position: absolute;
	bottom: 10px;
	right: 0;
}

/* Body */
#body {
	position: relative;
	margin-bottom: 10px;
}
#body .col .img {
	position: relative;
	width : 240px;
	height : 430px;
	background-color : #EFEFEF;
}
#body .col .img img {
	display: block;
	margin-bottom: 0;
}
#body .col .img .text {
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.8);
	display: none;
	position: absolute;
	top: 50%;
	height: 50%;
	width: 100%;
	font-family: sans-serif;
	color: #717073;
    overflow: hidden;
}
#body .col .img:hover .text {
	display: block;
}
#body .col .img .text .body {
	padding: 10px;
}
#body .col .link .title {
	padding-left: 9px;
	border-right: 1px solid #e6e7e8;
	text-transform : lowercase
}
#body .col:first-child .link .title {
	border-left: 1px solid #e6e7e8;
}
#body .col .link:hover .title .num {
	color: #d2232a;
}
#body .col .link:hover .title h2 {
	color: #d2232a;
}

#body .col .art {}
#body .col  .meta {
	padding: 10px 0 0 10px;
	margin-bottom: 0;
	line-height: 12px;
	font-size: 10px;
}

body.page-taxonomy-term #body .col:hover .meta,
body.page-taxonomy-term #body .col:hover .meta h4.title a {
  color : #d2232a;
}
#body .col .meta h4.title {
	margin-bottom: 0;
	line-height: 14px;
	font-weight: bold;
	font-size: 12px;
}
#body a.art, #body h4.title a {
	border-bottom : none;
	text-decoration : none;
}
.byline {
	font-style: italic;
}
#body .col .meta .byline {
    font-style: italic;
    line-height: 14px;
    font-weight: bold;
    font-size: 12px;
}

.col.full_image {
    width: 630px; 
    height: 500px;
    padding-right: 20px;
}

#body .content {
	text-align: justify;
}


/* Footer */
#footer {
	position: relative;
	padding-top: 32px;
	text-transform : lowercase;
}

#footer p {
    margin: 0px;
    padding: 0px;
}
#footer .footer_body {
	position: relative;
	width: 640px;
	padding-top: 5px;
	border-top: 1px solid #717073;
	line-height: 14px;
	font-size: 12px;
}

#footer .footer_body .contacts {
   float: left; 
}

#footer .footer_body .region-footer-left {
   float: left;
}
#footer .footer_body .region-footer-left .block.clearfix {
  float: left;
  margin-right: 1em;
}

#footer .footer_body .region-footer-right {
    float: right;
}
#footer .footer_body .region-footer-right .block.clearfix {
  float: right;
  margin-left: 1em;
}
#footer .footer_body .site-info {
	float: right;
}
#site-name {
	position: absolute;
	top: 0;
	right: 0;
}
#site-name h1 {}
#site-name h1 a {
	background: url("../images/logo.png") no-repeat 0 0 scroll transparent;
	display: block;
	width: 310px;
	height: 48px;
	text-indent: -9999px;
}
#footer .nav {}

/* Art */
.art-text {
	position: relative;
	float: right;
	width: 310px;
	height: 410px;
  overflow-y: auto;
  text-align : justify;
}
.art-text .body {
	position: absolute;
	bottom: 0px;
    overflow: hidden;
    text-align: left;
    /*overflow:scroll;
    height: 340px;*/
}
ul.gallery-navigation, 
.art-text .dots {
	position: absolute;
	bottom: 0;
	left: 0;
}
ul.gallery-navigation, 
.art-text .dots ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
ul.gallery-navigation li, 
.art-text .dots ul li {
	float: left;
	margin-left: 10px;
}
ul.gallery-navigation li:first-child, 
ul.gallery-navigation li.first, 
.art-text .dots ul li:first-child {
	margin-left: 0;
}
ul.gallery-navigation li a, 
.art-text .dots ul li a {
	background: url("../images/dots.png") no-repeat 0 0 scroll transparent;
	display: block;
	width: 10px;
	height: 10px;
	text-indent : -9999px;
}
#body .tabs a,
#body .arrows a,
#body ul.gallery-navigation li a {
	border-bottom : none;
	padding-bottom : 0;
}
ul.gallery-navigation li:hover a, 
.art-text .dots ul li:hover a {
	background-position: 0 -20px;
}
ul.gallery-navigation li.active a, 
.art-text .dots ul li.active a {
	background-position: 0 -10px;
}

div.gallery-navigation {
  position : absolute;
  width: 310px;
  margin-left: 650px;
  right : 0;
  top: 430px;
}

body.logged-in div.gallery-navigation {
  top: 460px;
}
.gallery-container {
  width : 630px;
  height: 430px;
}
.arrows {}
.arrows .arrow {
	position: absolute;
	top: 200px;
}
.arrows .arrow a {
	background: url("../images/arrows.png") no-repeat 0 0 scroll transparent;
	display: block;
	width: 35px;
	height: 28px;
	text-indent : -9999px;
}
.arrows .arrow.arrow-left {
	left: -45px;
}
.arrows .arrow.arrow-left a {
	background-position: 0 0;
}
.arrows .arrow.arrow-right {
	right: -45px;
}
.arrows .arrow.arrow-right a {
	background-position: 0 -28px;
}

.arrows .arrow.arrow-right a:hover {
	background-position: -35px -28px;
}

.arrows .arrow.arrow-left a:hover {
	background-position: -35px 0;
}



/*Gallery Area*/
.gallery {
    
}
.gallery ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.gallery ul li {
    list-style:none;
    padding: 0px;
    margin: 0px;
}

/*Single Gallery for Art&Project */
.single_gallery{
    position: relative;
    height: 430px;
}
.single_gallery ul,
.single_gallery ul li {
    width : 630px;
    height : 430px;
    position : absolute;
    list-style : none;
    padding : 0;
    margin : 0;
    text-align : center;
    overflow : hidden;
    z-index: 8;
}
.single_gallery ul li {
    display: none;
}
.single_gallery ul li.active {
    z-index: 10;
    display: block; 
}
.single_gallery ul li.last-active {
  z-index : 9;
}


.single_gallery ul li a {
  width : 100%;
  height : 100%;
  background-color : #efefef;
  display : block;
}
.single_gallery ul li img {
  height : 100%;
    /*max-width : 100%;
    max-height : 100%;*/
}

/*Selected/Arts page*/

/*Single Gallery for Art&Project */
.col .slide_items
 {
    position: relative;
    margin-bottom: 0px;
}
.col .slide_items_right
 {
    position: relative;
    
}


.col .slide_items li {
    width : 630px;
    position : absolute;
    list-style : none;
    padding : 0;
    margin : 0;
    text-align : center;
    overflow : hidden;
    z-index: 6;
}

.col .slide_items_right li {
    
    position : absolute;
    list-style : none;
    padding : 0;
    margin : 0;
    text-align : center;
    overflow : hidden;
    z-index: 6;
    width: 310px;
    height: 400px;
}

.col .slide_items_right .dots ul li {
    width: 10px;
    height: 10px;
    display: block;
    position: relative;
}


.col .slide_items li,
.col .slide_items_right li  {
    display: none;
}
.col .slide_items li.active,
.col .slide_items li.active-project,
.col .slide_items_right li.active,
.col .slide_items_right li.active-project {
    z-index: 8;
    display: block; 
}
.col .slide_items li.last-active,
.col .slide_items_right li.last-active {
  z-index : 7;
}

.col .slide_items li a{
 /* width : 100%;
  height : 100%;*/
 text-align: left;
  display : block;
}
.col .slide_items li img {
  height : 100%;
    /*max-width : 100%;
    max-height : 100%;*/
}


.bottom-align {
  bottom :0;
  position : absolute;
}

.bottom-align p:last-child {
  margin-bottom : 0;
}

.bottom-align .field {
  margin-top : 1em;
}
.bottom-align .field:first-child {
  margin-top : 0;
}

#cboxLoadedContent {
  background-color : transparent ! important;
}
a.external:after {
   content : " \00BB";
   font-size : 1.4em;
   text-decoration : none;
}

a.facebook {
  text-indent : -9999px;
  background-image : url(../libs/images/social-icons.png);
  background-repeat : no-repeat;
  display : block;
  width : 16px;
  height : 16px;
  background-position : 0 -16px;
}

a.facebook:hover {
  background-position : 0 0;
}